{
    "workbench.colorTheme": "Monokai",
    "editor.formatOnSaveMode": "modifications",
    "editor.formatOnPaste": true,
    "workbench.startupEditor": "newUntitledFile",
    "explorer.confirmDragAndDrop": false
}
